<br>
<h3 class="text-center"> Employeur </h3>
<br>

<%= simple_form_for firm, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form do |f|  %>
  <%= f.input :name, label: 'Nom' %>
  <%= f.input :address, label: 'Adresse' %>
  <%= f.input :siret, label: 'SIRET' %>
  <%= f.input :rcs, label: 'RCS/RM' %>
  <%= f.input :legal_form, collection: Firm::LEGAL_FORMS, label: 'Forme juridique' %>
  <%= f.input :urssaf, label: 'N° URSSAF' %>
  <%= f.input :urssaf_place, label: 'Agence URSSAF' %>
  <%= f.input :collective_agreement, label: 'Convention collective' %>


  <h3 class="text-center">Représentant légal</h3>
  <%= f.simple_fields_for :representative do |r| %>
    <%= r.input :lastname, label: 'Nom' %>
    <%= r.input :firstname, label: 'Prénom' %>

    <%= r.simple_fields_for :function do |p| %>
      <%= p.input :title, label: 'Poste' %>
    <% end %>

  <% end %>

  <%= f.submit 'Enregistrer', class: 'btn btn-info'  %>
<% end  %>
