<br>
<% firms =  @firms %>
<div class="row">
	<div class="col-9 text-center">
		<h3>Employeurs </h3>
	</div>
	<br>
	<!-- <div class="col-3 ">
		<%= link_to "Nouvel Employeur", new_firm_path, class: 'btn btn-info' %>
	</div> -->
</div>
<table class='table table-sm table-hover table-striped'>
	<thead>
		<tr class='' style='height: 50px'>
			<th scope='col' class='align-middle'> ID </th>
			<th scope='col' class='align-middle'> Nom </th>
			<th scope='col' class='align-middle'> SIRET </th>
			<th scope='col' class='align-middle'> Adresse </th>
		</tr>
	</thead>
	<tbody>
		<% firms.each do |firm| %>
			<tr>
				<td><%= link_to firm[:id], firm %></td>
				<td><%= firm[:name] %></td>
				<td><%= firm[:siret] %></td>
				<td><%= firm[:address] %></td>
			</tr>
		<% end %>
	</tbody>
</table>
