<br>
<div class='col-8 offset-2'>
	<ul class='list-group'>
		<li class='list-group-item active'>
			<h1 class='text-center'>   Poste  </h1>
		</li>
		<li class='list-group-item'>
			<div class='row'>
				<div class='col-6'>
					<em>id </em>
				</div>
				<div class='col-6'>
					<%= function[:id] %>
				</div>
			</div>
		</li>
		<li class='list-group-item'>
			<div class='row'>
				<div class='col-6'>
					<em>title </em>
				</div>
				<div class='col-6'>
					<%= function[:title] %>
				</div>
			</div>
		</li>
		<li class='list-group-item'>
			<div class='row'>
				<div class='col-6'>
					<em>level </em>
				</div>
				<div class='col-6'>
					<%= function[:level] %>
				</div>
			</div>
		</li>
		<li class='list-group-item'>
			<div class='row'>
				<div class='col-6'>
					<em>coefficient </em>
				</div>
				<div class='col-6'>
					<%= function[:coefficient] %>
				</div>
			</div>
		</li>
		<li class='list-group-item'>
			<div class='row'>
				<div class='col-6'>
					<em>status </em>
				</div>
				<div class='col-6'>
					<%= function[:status] %>
				</div>
			</div>
		</li>
		<li class='list-group-item'>
			<div class='row'>
				<div class='col-6'>
					<em>monthly_starting_salary </em>
				</div>
				<div class='col-6'>
					<%= function[:monthly_starting_salary] %>
				</div>
			</div>
		</li>
		<li class='list-group-item'>
			<div class='row'>
				<div class='col-6'>
					<em>annual_starting_salary </em>
				</div>
				<div class='col-6'>
					<%= function[:annual_starting_salary] %>
				</div>
			</div>
		</li>
		<li class='list-group-item'>
			<div class='row'>
				<div class='col-6'>
					<em>bonus </em>
				</div>
				<div class='col-6'>
					<%= function[:bonus] %>
				</div>
			</div>
		</li>
		<li class='list-group-item'>
			<div class='row'>
				<div class='col-6'>
					<em>collab_id </em>
				</div>
				<div class='col-6'>
					<%= function[:collab_id] %>
				</div>
			</div>
		</li>
		<li class='list-group-item'>
			<div class='row'>
				<div class='col-6'>
					<em>created_at </em>
				</div>
				<div class='col-6'>
					<%= function[:created_at] %>
				</div>
			</div>
		</li>
		<li class='list-group-item'>
			<div class='row'>
				<div class='col-6'>
					<em>updated_at </em>
				</div>
				<div class='col-6'>
					<%= function[:updated_at] %>
				</div>
			</div>
		</li>
		<p> <%= link_to 'Liste', functions_path  %> </p>
	</ul>
</div>
