<br>
<h3> Contrat </h3>
<br>
<% contract =  @contract %>
<% collabs =  @collabs %>
<% collab = !params[:collab].nil? ? params[:collab] : 0 %>
<%= simple_form_for contract do |f|  %>
	<div class="row">
		<div class="col-6">
			<% if !collab.nil? && collab != 0 %>
				<%= f.input :collab_id, collection: collabs,
					label: false, selected: collab %>
			<% else %>
				<%= f.input :collab_id, collection: collabs, prompt: 'Sélectionner un Collaborateur',
					label: false %>
				<% end %>
		</div>
		<div class="col-6">
			<%= f.input :nature, collection: Contract::NATURES,
				label: false,  selected: 1 %>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<%= f.input :hiring_date, as: :string, label: 'Date d\'embauche ', input_html: { class: "datepicker" } %>
		</div>
		<div class="col-6">
			<%= f.input :week_work_duration, label: 'Durée de travail hebdomadaire',
				input_html: {value: f.object.week_work_duration || Contract::DEFAULT_WEEK_HOURS} %>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<%= f.input :initial_trial_period_duration, label: 'Durée de la période d\'essai' %>
		</div>
		<div class="col-6">
			<%= f.input :initial_trial_period_type, collection: Contract::TIME_PERIODS, label: 'exprimée en jours/mois',  selected: 1 %>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<%= f.input :renewal_trial_period, collection: [[true, 'Oui'], [false, 'Non']], label: 'Période d\essai renouvelable',
				label_method: :second, value_method: :first  %>
		</div>
		<div class="col-6">
			<%= f.input :paid_vacation_days, label: 'Nombre de jours de congés payés par an',
				input_html: {value: f.object.paid_vacation_days || Contract::DEFAULT_PAID_VACATION_DAYS} %>
		</div>
	</div>
	<%= f.input :mobility_zone, label: 'Zone de mobilité' %>
	<%= f.input :task, as: :text, label: 'Fonctions exercées' %>
	<%= f.submit "Enregistrer", class: "btn btn-info"  %>
<% end  %>
